body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.formula-input {
    display: inline;
    margin: auto;
    height: 50px;
    width: 80%;
    padding-top: 8px;

    font-size: 34px;
    font-family: consolas, monospace;
    text-align: center;
}

.roll-btn {
  height: 50px;
  font-size: 34px;
  font-family: consolas, monospace;
  text-align: center;
}

.roll-result {
    margin-top: 30px;
    font-size: 46px;
    text-align: center;
}

.rolls {
    display: flex;
    flex-flow: wrap;
}

.roll {
    display: flex;
    flex-flow: column;

    min-width: 90px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin-top: -1px;
    margin-left: -1px;
}

.roll .formula {
    display: inline;
    font-size: 14px;
}

.roll .result {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 32px;
}

.roll .rolls {
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 10px;
}

.roll .toggle-details {
    display:block;
    align-self: flex-end;
}

.recent-formulas {
  text-align: center;
  list-style-type: none;
}

.recent-formulas li {
  display: inline;
  margin-right: 50px;
}
